body {
    background-color: #0D0D0D;
    color: #BFB8B0;
}
.navbar {
    background-color: #A60303;
    justify-content: center;
}
.navbar img {
    width: 110px;
    height: 40px;
}
.info-container {
    background-color:#F2695C;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
}
.info-image {
    margin-top: 70px;
}
@media (max-width: 767px) {
    .info-image {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }
    .info-image img {
        max-width: 100%;
        height: auto;
    }
}
.favorite-song {
    text-align: center;
    margin-top: 40px;
}
.horizontal-image {
    margin-top: 40px;
    text-align: center;
}
.horizontal-image img {
    width: 40%;
    height: auto;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .horizontal-image img {
        width: 80%;
    }
}
.enlaces {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.enlaces a {
    text-decoration: none;
    margin: 10px;
    padding: 10px 20px;
    border: none; /* Quita el borde */
    border-radius: 10px;
    color: #BFB8B0; /* Mismo color que el texto */
    background-color: #F2695C;
    transition: all 0.3s ease;
}
.enlaces a:hover {
    background-color: #F2695C;
    color: #0D0D0D;
    border-color: #0D0D0D;
}
.tema {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #BFB8B0;;
}